{#
/**
 * @file
 * Default theme implementation for wrapping system messages.
 *
 * Available variables:
 * - $type
 * - $title
 * - $messages
 *
 * @see template_preprocess_cool_messages().
 */
#}
<div>
	<ul class="context">
	{% for key, user in data %}
	   <li>
		   {{ key }} 
		   {% if user.required == true %}
		     (required) 
		   {% else %}
		      (optional)
		   {% endif %}
		   :{{ user.description|e }}
	   </li>
	{% endfor%}
    </ul>
</div>
